body {
    font-family: Garamond;
    background-color: Azure;
    margin-top: 0;
    color:black;
}

.text-big {
    font-size: 400%;
}

.img-hor {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    -ms-filter: "FlipH";
}

.bold {
    font-weight: bold;
}

#marquee-container 
{
 margin: 0 auto; /* centers it */
 overflow: hidden;
 white-space: nowrap;
}




