body {
    font-family: Garamond;
    background-color: Azure;
    margin-top: 0;
    color:black;
}

.text-big {
    font-size: 400%;
}


.bold {
    font-weight: bold;
}
#heli {
 
    transform:rotate(90 deg);
}
#marquee-container 
{
 margin: 0 auto; /* centers it */
 overflow: hidden;
 white-space: nowrap;
}




