body {
    font-family: Garamond;
    background-color: Azure;
    margin-top: 0px;
    color:black;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.container{
    float: left;
}

