body {

    font-family: Garamond;
    background-color:Bisque;
}

#searchbar
{
    width:1300px;
    height:150px;
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/45/21/72/452172a2ebc5bd83914b61c002a2b8e2.jpg");   
   
}
#sidebar
{
    width:300px;
    height:900px;
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/45/21/72/452172a2ebc5bd83914b61c002a2b8e2.jpg");   
}
.blogbutton
{
    width: 300px;
    height: 100px;
    color:bisque;
    background-color:transparent;
    font-size: 150%;
    float: left;
}

.position
{
    overflow:auto;
}
#title
{   
    margin-top:10px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
}
#submitbutton
{
    margin-left: 10px;
}
#article
{
    margin-left: 10px;
    margin-top: 10px;
    width:900px;
    height: 700px;
}

