body {

    font-family: Garamond;
    background-color:Bisque;
}

#searchbar
{
    width:1300px;
    height:150px;
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/45/21/72/452172a2ebc5bd83914b61c002a2b8e2.jpg");   
   
}
#sidebar
{
    width:350px;
    height:900px;
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/45/21/72/452172a2ebc5bd83914b61c002a2b8e2.jpg");   
}

