body {

    font-family: Garamond;
    background-color:Bisque;
}

#searchbar
{
    width:1000px;
    height:30px;
   
}
#sidebar
{
    width:400px;
    height:900px;
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/45/21/72/452172a2ebc5bd83914b61c002a2b8e2.jpg");   
}

