body {
    font-family: Garamond;
    background-color: white;
    margin-top: 75px;
    color:black;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                max-width: 800px;    
                margin: 0 auto;
                color: blue; 
                font-family: comics sans;
            }
.enter
{
    
    width: 100px;
    height: 50px;
    color: white;
    background-color:black;
}
#button1
{
    margin-left: 100px;
}
