body {
    background-image:url("http://i3.wallpaperscraft.com/image/vintage_pens_writing_paper_74945_1280x1024.jpg");
    background-size:cover; 
    font-family: Garamond;
    color:black;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                max-width: 800px;    
                margin: 0 auto;
                color: blue; 
                font-family: comics sans;
            }
.enter
{
    
    width: 100px;
    height: 50px;
    color: Bisque;
    background-color:SaddleBrown;
    margin-top:500px;
   

}
#button1
{
    margin-left: 400px;
}
#button2
{
    margin-left: 300px;
}

