body {
   background: url(/ui/background.png) repeat 5% 5%;
    font-family: Garamond;
    color:black;
}


.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                max-width: 800px;    
                margin: 0 auto;
                color: blue; 
                font-family: comics sans;
            }
.header1
{
    margin-Left:285px;
    color:SaddleBrown;
    font-size:300%;
    font-style:Italic;
    font-weight:bold;    
}
.header2
{
    margin-Left:320px;
    color:SaddleBrown;
    font-size:300%;
    font-style:Italic;
    font-weight:bold; 
}
.enter
{
    
    width: 200px;
    height: 60px;
    color: Bisque;
    background-color:SaddleBrown;
    font-size: 150%;
    margin-top:20px;
  
}
.head
{
    margin-Left:200px;
    color:SaddleBrown;
}
.heading
{
    margin-Top:40px;
}
.sign
{
    margin-Left:200px;
   height:40px;
   width:200px;
 
}
.login
{
    margin-Left:500px;
    color:SaddleBrown; 
}
.sub
{
    width: 250px;
    height: 100px;
    color: Bisque;
    background-color:SaddleBrown;
    font-size: 150%;
    margin-Left:200px;
    margin-Top: 20px;
    
}
.sub2
{	
    margin-Left:500px;
     height:40px;
    width:200px
}
#button1
{
  
    margin-Left:500px;
    margin-Top:10px;
     
}
#button2
{

 
    margin-Left:500px;
    margin-Top:10px;
    
    
}

